# Optional: Allows for a debug mode during testing
# Boolean or a string flags containing specifics of what is required
# Options:  True- The following is true with all debug options:
#                   <Tab> binded to skip to next trial
#                   1, 2, 3 binded to fake interaction with the gate of corresponding ID
#           "slowEscape"- will not exit the consol when the window is closed until the enter key is pressed
#           "limitLogs"- will remove all bar the lastest log file
#           "setSeed"- will set a fixed seed for randomness
DEBUG="limitLogs setSeed"

# Optional: Save location
data_path="data"

# Optional: Log location
log_path="logs"

# Gate timings
# The number of ms between gate crossings that mean the display should change
crossing_timeout=1500

# GPIO pins
left_gate_pin=17
right_gate_pin=27
entrance_gate_pin=22
